# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Cache directories
/.cache

# Build directories
/dist

# Specific files
vite.config.ts.timestamp*
pnpm-lock.yaml
package-lock.json
.turbo